<style>
body{
    background-color: rgb(120, 224, 165);
    padding-top: 50px;
    
    
}
</style>
<body>
    <center>
<label for="question">Enter First Name:</label><br><br>
<input type="text" id="question" name="question" placeholder="Enter First Name..."><br><br>
<label for="question">Enter Last Name:</label><br><br>
<input type="text" id="question" name="question" placeholder="Enter Last Name..."><br><br>
<label for="name" >Enter Section</label>
    
    <select name="fname">
        <option value="r">choose</option>
        <option value="v">mscs</option>
        <option value="h">mccs</option>
        <option value="b">mpcs</option>
    </select><br><br>
    <label for="question">Enter Rollno:</label><br>
    <input type="text" id="question" name="question" placeholder="Enter Rollno"><br>
    <label for="question">Enter emailid:</label><br>
    <input type="email" id="question" name="question" placeholder="Enter emailid..."><br>
</center>
</body>

      