<style>
#question {
  font-size: 15px;
  font-weight: bold;
  color: #4c4c4c;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  
}

#question:hover {
  background-color:rgb(231, 221, 221);
  cursor: pointer;
}

#question img {
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
    
}
body{
    background-color: rgb(120, 224, 165);
    text-align: center;
    
}

</style>
<body>
<h1>SURVEY TITTLE</h1>
<label for="question">What is your name?</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question2</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question3</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question4</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question5</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question6</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question7</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question8</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question9</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
<label for="question">question10</label><br>
<input type="text" id="question" name="question" placeholder="Enter your answer..."><br>
</body>